@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 10vh;
  padding: 5px 0;

  background-color: rgb(7, 46, 68);
  color: white;

  letter-spacing: 1.5px;
}

header h3 {
  font-size: 18px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 10vh;

  background-color: black;
  color: white;

  font-size: 12px;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  text-decoration: none;
  color: white;
}

footer img {
  width: 50px;
  margin-right: 5px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;

  height: 75.2vh;
}

.container {
  display: grid;
  grid-template-areas:
    "form-right form-left"
    "form-bottom form-bottom"
    "btn btn";
  grid-template-rows: 1fr 1fr 30px;
  grid-template-columns: 0.4fr 0.6fr;
}

fieldset{
  margin: 0 15px;
}

.form-left {
  grid-area: form-left;
  padding: 10px;
}

.form-right {
  grid-area: form-right;
  padding: 10px;
}

.form-right input{
  width: 90%;
}

.form-bottom {
  grid-area: form-bottom;

  margin: 15px 0;
  padding: 10px;
}

legend {
  font-weight: bold;
  font-size: 30px;
}

input {
  padding: 4px;
  margin: 3px;

  width: 40%;
}

input::placeholder {
  color: black;
}

button {
  grid-area: btn;
  background-color: rgb(67, 167, 105);
  border-radius: 7px;
  width: 50%;

  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);

  border: 2px solid rgba(0, 0, 0, 0.342);
}

button:hover {
  background-color: rgb(7, 103, 110);
}

button:active {
  background-color: rgb(28, 85, 50);
}
